@import "fontawesome";
@import "bootstrap";

@import "theme";
@import "loader";
@import "map";
@import "popup";
@import "chart";

html,
body {
  height: 100vh;
}

nav.navbar {
  background-color: var(--bg-color-navbar);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  .navbar-brand,
  .navbar-brand:focus {
    color: var(--text-color) !important;
  }

  .fa-bars {
    color: var(--fa-color-navbar) !important;
  }

  .navbar-nav {
    a.nav-link,
    label {
      color: var(--text-color) !important;
    }

    .nav-item {
      display: grid;
      align-content: center;
      margin-left: 20px;
    }
  }
}

.modal-content {
  background-color: var(--bg-color-map-solid);
  border-color: var(--border-color-modal);
  color: var(--text-color-map-solid);
}

.modal-header {
  border-bottom-color: var(--border-color-modal);
}

.close {
  color: var(--text-color-map-solid);
  text-shadow: rgb(24 26 27) 0px 1px 0px;
  &:hover {
    color: var(--text-color-map-solid);
  }
}

.dropdown-menu {
  color: var(--text-color-map-solid);
  background-color: var(--bg-color-map-solid);
  border-color: var(--border-color-modal);
}

.dropdown-item {
  color: var(--text-color-map-solid);
  &:hover {
    color: var(--text-color-dropdown-hover);
    background-color: var(--bg-color-dropdown-hover);
  }

  &[data-active="true"] {
    color: var(--text-color-dropdown-hover);
    background-color: var(--bg-color-dropdown-hover);
  }
}
