@import "@fortawesome/fontawesome-free/css/brands.css";
@import "@fortawesome/fontawesome-free/css/solid.css";
@import "@fortawesome/fontawesome-free/css/fontawesome.css";

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

@import "bootstrap/scss/reboot";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/close";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/media";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/type";
@import "bootstrap/scss/utilities";

@import "loader";
@import "map";
@import "popup";
@import "chart";

html,
body {
  height: 100vh;
}

nav.navbar {
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  .navbar-brand,
  .navbar-brand:focus {
    color: #000 !important;
  }

  .navbar-nav {
    a.nav-link {
      color: #000 !important;
    }

    .nav-item {
      margin-left: 20px;
    }
  }

  @media (prefers-color-scheme: dark) {
    background-color: rgba(38, 42, 43, 0.9);
    .navbar-brand,
    .navbar-brand:focus {
      color: #fff !important;
    }

    .navbar-nav {
      a.nav-link {
        color: #fff !important;
      }
    }
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8) !important;
}

// Dark mode support for the modal component
@media (prefers-color-scheme: dark) {
  .modal-content {
    background-color: rgb(24, 26, 27);
    border-color: rgba(140, 130, 115, 0.2);
    color: rgb(209, 205, 199);
  }

  .modal-header {
    border-bottom-color: rgb(56, 61, 63);
  }

  .close {
    color: rgb(232, 230, 227);
    text-shadow: rgb(24 26 27) 0px 1px 0px;
    &:hover {
      color: rgb(232, 230, 227);
    }
  }
}

@media (prefers-color-scheme: dark) {
  .dropdown-menu {
    color: rgb(209, 205, 199);
    background-color: rgb(24, 26, 27);
    border-color: rgba(140, 130, 115, 0.15);
  }

  .dropdown-item {
    color: rgb(209, 205, 199);
    &:hover {
      color: rgb(217, 213, 208);
      background-color: rgb(35, 38, 39);
    }
  }
}
