@import "fontawesome";
@import "bootstrap";

@import "loader";
@import "map";
@import "popup";
@import "chart";

html,
body {
  height: 100vh;
}

nav.navbar {
  background-color: rgba(52, 51, 50, 0.9);

  .navbar-nav {
    color: #fff;

    .nav-item {
      margin-left: 20px;
    }
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8) !important;
}
