[submodule "cities/australia/fremantle"]
	path = cities/australia/fremantle
	url = https://github.com/EqualStreetNames/equalstreetnames-fremantle.git
[submodule "cities/austria/vienna"]
	path = cities/austria/vienna
	url = https://github.com/EqualStreetNames/equalstreetnames-vienna.git
[submodule "cities/belarus/minsk"]
	path = cities/belarus/minsk
	url = https://github.com/EqualStreetNames/equalstreetnames-minsk.git
[submodule "cities/belgium/antwerpen"]
	path = cities/belgium/antwerpen
	url = https://github.com/EqualStreetNames/equalstreetnames-antwerpen.git
[submodule "cities/belgium/braine-lalleud"]
	path = cities/belgium/braine-lalleud
	url = https://github.com/EqualStreetNames/equalstreetnames-braine-lalleud.git
[submodule "cities/belgium/brugge"]
	path = cities/belgium/brugge
	url = https://github.com/EqualStreetNames/equalstreetnames-brugge.git
[submodule "cities/belgium/brussels"]
	path = cities/belgium/brussels
	url = https://github.com/EqualStreetNames/equalstreetnames-brussels.git
[submodule "cities/belgium/gent"]
	path = cities/belgium/gent
	url = https://github.com/EqualStreetNames/equalstreetnames-gent.git
[submodule "cities/belgium/halle"]
	path = cities/belgium/halle
	url = https://github.com/EqualStreetNames/equalstreetnames-halle.git
[submodule "cities/belgium/leuven"]
	path = cities/belgium/leuven
	url = https://github.com/EqualStreetNames/equalstreetnames-leuven.git
[submodule "cities/belgium/liege"]
	path = cities/belgium/liege
	url = https://github.com/EqualStreetNames/equalstreetnames-liege.git
[submodule "cities/belgium/mons"]
	path = cities/belgium/mons
	url = https://github.com/EqualStreetNames/equalstreetnames-mons.git
[submodule "cities/belgium/namur"]
	path = cities/belgium/namur
	url = https://github.com/EqualStreetNames/equalstreetnames-namur.git
[submodule "cities/belgium/nivelles"]
	path = cities/belgium/nivelles
	url = https://github.com/EqualStreetNames/equalstreetnames-nivelles.git
[submodule "cities/belgium/rixensart"]
	path = cities/belgium/rixensart
	url = https://github.com/EqualStreetNames/equalstreetnames-rixensart.git
[submodule "cities/belgium/roeselare"]
	path = cities/belgium/roeselare
	url = https://github.com/EqualStreetNames/equalstreetnames-roeselare.git
[submodule "cities/denmark/copenhagen"]
	path = cities/denmark/copenhagen
	url = https://github.com/EqualStreetNames/equalstreetnames-copenhagen.git
[submodule "cities/estonia/narva"]
	path = cities/estonia/narva
	url = https://github.com/EqualStreetNames/equalstreetnames-narva.git
[submodule "cities/estonia/tallinn"]
	path = cities/estonia/tallinn
	url = https://github.com/EqualStreetNames/equalstreetnames-tallinn.git
[submodule "cities/estonia/tartu"]
	path = cities/estonia/tartu
	url = https://github.com/EqualStreetNames/equalstreetnames-tartu.git
[submodule "cities/france/paris"]
	path = cities/france/paris
	url = https://github.com/EqualStreetNames/equalstreetnames-paris.git
[submodule "cities/france/saint-brieuc"]
	path = cities/france/saint-brieuc
	url = https://github.com/EqualStreetNames/equalstreetnames-saint-brieuc.git
[submodule "cities/germany/berlin"]
	path = cities/germany/berlin
	url = https://github.com/EqualStreetNames/equalstreetnames-berlin.git
[submodule "cities/germany/brandenburg-an-der-havel"]
	path = cities/germany/brandenburg-an-der-havel
	url = https://github.com/EqualStreetNames/equalstreetnames-brandenburg-an-der-havel.git
[submodule "cities/germany/dresden"]
	path = cities/germany/dresden
	url = https://github.com/EqualStreetNames/equalstreetnames-dresden.git
[submodule "cities/germany/freiburg-im-breisgau"]
	path = cities/germany/freiburg-im-breisgau
	url = https://github.com/EqualStreetNames/equalstreetnames-freiburg-im-breisgau.git
[submodule "cities/germany/freising"]
	path = cities/germany/freising
	url = https://github.com/EqualStreetNames/equalstreetnames-freising.git
[submodule "cities/germany/halle-saale"]
	path = cities/germany/halle-saale
	url = https://github.com/EqualStreetNames/equalstreetnames-halle-saale.git
[submodule "cities/germany/hannover"]
	path = cities/germany/hannover
	url = https://github.com/EqualStreetNames/equalstreetnames-hannover.git
[submodule "cities/germany/kaiserslautern"]
	path = cities/germany/kaiserslautern
	url = https://github.com/EqualStreetNames/equalstreetnames-kaiserslautern.git
[submodule "cities/germany/leipzig"]
	path = cities/germany/leipzig
	url = https://github.com/EqualStreetNames/equalstreetnames-leipzig.git
[submodule "cities/germany/frankfurt-am-main"]
	path = cities/germany/frankfurt-am-main
	url = https://github.com/EqualStreetNames/equalstreetnames-frankfurt-am-main.git
[submodule "cities/germany/mainz"]
	path = cities/germany/mainz
	url = https://github.com/EqualStreetNames/equalstreetnames-mainz.git
[submodule "cities/germany/munich"]
	path = cities/germany/munich
	url = https://github.com/EqualStreetNames/equalstreetnames-munich.git
[submodule "cities/germany/oldenburg"]
	path = cities/germany/oldenburg
	url = https://github.com/EqualStreetNames/equalstreetnames-oldenburg.git
[submodule "cities/germany/rastede"]
	path = cities/germany/rastede
	url = https://github.com/EqualStreetNames/equalstreetnames-rastede.git
[submodule "cities/germany/wiesbaden"]
	path = cities/germany/wiesbaden
	url = https://github.com/EqualStreetNames/equalstreetnames-wiesbaden.git
[submodule "cities/greece/athens"]
	path = cities/greece/athens
	url = https://github.com/EqualStreetNames/equalstreetnames-athens.git
[submodule "cities/hungary/budapest"]
	path = cities/hungary/budapest
	url = https://github.com/EqualStreetNames/equalstreetnames-budapest.git
[submodule "cities/italy/bolzano"]
	path = cities/italy/bolzano
	url = https://github.com/EqualStreetNames/equalstreetnames-bolzano.git
[submodule "cities/luxembourg/luxembourg"]
	path = cities/luxembourg/luxembourg
	url = https://github.com/EqualStreetNames/equalstreetnames-luxembourg.git
[submodule "cities/montenegro/tivat"]
	path = cities/montenegro/tivat
	url = https://github.com/EqualStreetNames/equalstreetnames-tivat
[submodule "cities/netherlands/assen"]
	path = cities/netherlands/assen
	url = https://github.com/EqualStreetNames/equalstreetnames-assen.git
[submodule "cities/netherlands/groningen"]
	path = cities/netherlands/groningen
	url = https://github.com/EqualStreetNames/equalstreetnames-groningen.git
[submodule "cities/netherlands/leiden"]
	path = cities/netherlands/leiden
	url = https://github.com/EqualStreetNames/equalstreetnames-leiden.git
[submodule "cities/philippines/sanpablo"]
	path = cities/philippines/sanpablo
	url = https://github.com/EqualStreetNames/equalstreetnames-sanpablo.git
[submodule "cities/poland/chorzow"]
	path = cities/poland/chorzow
	url = https://github.com/EqualStreetNames/equalstreetnames-chorzow.git
[submodule "cities/poland/warsaw"]
	path = cities/poland/warsaw
	url = https://github.com/EqualStreetNames/equalstreetnames-warsaw.git
[submodule "cities/poland/wroclaw"]
	path = cities/poland/wroclaw
	url = https://github.com/EqualStreetNames/equalstreetnames-wroclaw.git
[submodule "cities/portugal/lisbon"]
	path = cities/portugal/lisbon
	url = https://github.com/EqualStreetNames/equalstreetnames-lisbon.git
[submodule "cities/romania/bucharest"]
	path = cities/romania/bucharest
	url = https://github.com/EqualStreetNames/equalstreetnames-bucharest.git
[submodule "cities/serbia/belgrade"]
	path = cities/serbia/belgrade
	url = https://github.com/EqualStreetNames/equalstreetnames-belgrade
[submodule "cities/slovakia/bratislava"]
	path = cities/slovakia/bratislava
	url = https://github.com/EqualStreetNames/equalstreetnames-bratislava
[submodule "cities/south-africa/cape-town"]
	path = cities/south-africa/cape-town
	url = https://github.com/EqualStreetNames/equalstreetnames-capetown.git
[submodule "cities/spain/bilbao"]
	path = cities/spain/bilbao
	url = https://github.com/EqualStreetNames/equalstreetnames-bilbao.git
[submodule "cities/spain/madrid"]
	path = cities/spain/madrid
	url = https://github.com/EqualStreetNames/equalstreetnames-madrid.git
[submodule "cities/spain/malaga"]
	path = cities/spain/malaga
	url = https://github.com/EqualStreetNames/equalstreetnames-malaga.git
[submodule "cities/switzerland/basel"]
	path = cities/switzerland/basel
	url = https://github.com/EqualStreetNames/equalstreetnames-basel.git
[submodule "cities/switzerland/bern"]
	path = cities/switzerland/bern
	url = https://github.com/EqualStreetNames/equalstreetnames-bern.git
[submodule "cities/switzerland/lausanne"]
	path = cities/switzerland/lausanne
	url = https://github.com/EqualStreetNames/equalstreetnames-lausanne.git
[submodule "cities/switzerland/stgallen"]
	path = cities/switzerland/stgallen
	url = https://github.com/EqualStreetNames/equalstreetnames-stgallen.git
[submodule "cities/switzerland/zurich"]
	path = cities/switzerland/zurich
	url = https://github.com/EqualStreetNames/equalstreetnames-zurich.git
[submodule "cities/united-kingdom/chester-le-street"]
	path = cities/united-kingdom/chester-le-street
	url = https://github.com/EqualStreetNames/equalstreetnames-chester-le-street.git
[submodule "cities/usa/sanfrancisco"]
	path = cities/usa/sanfrancisco
	url = https://github.com/EqualStreetNames/equalstreetnames-sanfrancisco.git
[submodule "global"]
	path = global
	url = https://github.com/EqualStreetNames/module-global.git
[submodule "process"]
	path = process
	url = https://github.com/EqualStreetNames/module-process.git
[submodule "website"]
	path = website
	url = https://github.com/EqualStreetNames/module-website.git
