[submodule "cities/brussels"]
	path = cities/brussels
	url = https://github.com/openknowledgebe/equalstreetnames-brussels.git
[submodule "cities/belgrade"]
	path = cities/belgrade
	url = https://github.com/stalker314314/equalstreetnames-belgrade
[submodule "cities/brugge"]
	path = cities/brugge
	url = https://github.com/openknowledgebe/equalstreetnames-brugge.git
[submodule "cities/gent"]
	path = cities/gent
	url = https://github.com/openknowledgebe/equalstreetnames-gent.git
[submodule "cities/leuven"]
	path = cities/leuven
	url = https://github.com/openknowledgebe/equalstreetnames-leuven.git
