@import "../node_modules/@fortawesome/fontawesome-free/css/brands.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/solid.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css";

html,
body {
  height: 100vh;
}

nav.navbar {
  background-color: rgba(52, 51, 50, 0.8);
  position: fixed;
}

.nav-item {
  margin-left: 20px;
}

.navbar-nav {
  color: #fff;
}

#map {
  background-color: #dddddd;
  height: 100vh;
  width: 100%;
}

.mapboxgl-popup-content {
  min-width: 200px;
}
.mapboxgl-popup-content > .popup-streetname {
  font-weight: bold;
}
.mapboxgl-popup-content > .popup-wikidata > .popup-name {
  font-size: 1.3rem;
  white-space: nowrap;
}
.mapboxgl-popup-content > .popup-wikidata > .popup-links {
  margin-top: 10px;
}

.mapboxgl-ctrl-top-left,
.mapboxgl-ctrl-top-right {
  top: 60px;
}

#chart-overlay {
  background-color: rgba(52, 51, 50, 0.9);
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  bottom: 50px;
  padding: 10px;
  position: absolute;
  right: 0;
  width: 250px;
}

#count-information {
  margin-top: 10px;
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8) !important;
}
