@import "../node_modules/@fortawesome/fontawesome-free/css/brands.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/solid.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css";

html,
body {
  height: 100vh;
}

#map {
  background-color: #dddddd;
  height: calc(100vh - 56px);
  width: 100%;
}

.mapboxgl-popup-content {
  min-width: 200px;
}
.mapboxgl-popup-content > .popup-streetname {
  font-weight: bold;
}
.mapboxgl-popup-content > .popup-wikidata > .popup-name {
  font-size: 1.3rem;
  white-space: nowrap;
}
.mapboxgl-popup-content > .popup-wikidata > .popup-links {
  margin-top: 10px;
}

#chart-overlay {
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  bottom: 50px;
  padding: 10px;
  position: absolute;
  right: 0;
  width: 250px;
}
