@import "../node_modules/@fortawesome/fontawesome-free/css/brands.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/solid.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css";

html,
body {
  height: 100%;
}

#map {
  height: 100%;
  background-color: #dddddd;
}

.mapboxgl-popup-content {
  min-width: 200px;
}
.mapboxgl-popup-content > .popup-streetname {
  font-weight: bold;
}
.mapboxgl-popup-content > .popup-wikidata > .popup-name {
  font-size: 1.3rem;
  white-space: nowrap;
}
.mapboxgl-popup-content > .popup-wikidata > .popup-links {
  margin-top: 10px;
}
