includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    paths:
        - Command
        - process.php
    fileExtensions:
        - php
    level: max
    reportUnmatchedIgnoredErrors: true
    # checkModelProperties: true
    # checkMissingIterableValueType: false
