includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    paths:
        - Command
        - Wikidata
        - process.php
    fileExtensions:
        - php
    level: max
    reportUnmatchedIgnoredErrors: true
    # checkModelProperties: true
    # checkMissingIterableValueType: false
    ignoreErrors:
        - '#Method App\\Command\\AbstractCommand::execute\(\) should return int but return statement is missing.#'
