includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    paths:
        - Command
        - Model
        - Wikidata
        - process.php
    fileExtensions:
        - php
    level: max
    reportUnmatchedIgnoredErrors: true
    # checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Cannot access property \$gender on App\\Model\\Details\\Details\|null.#'
        - '#Method App\\Command\\AbstractCommand::execute\(\) should return int but return statement is missing.#'
