on:
  workflow_call:
    inputs:
      country:
        description: "Country"
        required: true
        type: string
      city:
        description: "City"
        required: true
        type: string

concurrency:
  group: deploy-${{ inputs.country }}-${{ inputs.city }}
  cancel-in-progress: true

jobs:
  validation-schema:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          repository: ${{ github.repository_owner }}/equalstreetnames
      - uses: actions/upload-artifact@v6
        with:
          name: validation-schema
          path: .github/schemas/*.json
  validate-geojson:
    needs: validation-schema
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v7
        with:
          name: validation-schema
          path: schemas
      - name: Validate GeoJSON
        uses: GrantBirki/json-yaml-validate@v4
        with:
          use_gitignore: false
          json_schema: ./schemas/FeatureCollection.json
          files: |
            ./data/relations.geojson
            ./data/ways.geojson
  validate-metadata:
    needs: validation-schema
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v7
        with:
          name: validation-schema
          path: schemas
      - name: Validate "metadata.json"
        uses: GrantBirki/json-yaml-validate@v4
        with:
          use_gitignore: false
          ajv_strict_mode: false
          json_schema: ./schemas/metadata.json
          files: ./data/metadata.json

  build:
    needs: [validate-geojson, validate-metadata]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          repository: ${{ github.repository_owner }}/equalstreetnames
          persist-credentials: false
      - run: git submodule update --init website
      - run: git submodule update --init cities/${{ inputs.country }}/${{ inputs.city }}
      - run: npm install
        working-directory: website
      - run: npm run build:${{ inputs.country }}:${{ inputs.city }}
        working-directory: website
      - uses: actions/upload-pages-artifact@v4
        with:
          path: website/dist/${{ inputs.country }}/${{ inputs.city }}

  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
